# Concrete directories
luigi
output
data
figures
code/residuals
.vscode
.DS_Store
code/closed-loop/*.txt
doc
*.yaml

# Python
*cache*
*egg-info*
_version.py
*.npy
prefit
proptools
code

# Python scripts
makecalc.py
makeplots.py
prueba.py
