# Concrete directories
luigi
output
data
figures
code/residuals
.vscode
.DS_Store
code/closed-loop/*.txt
doc

# Python
*cache*
*egg-info*
_version.py
*.npy


# Python scripts
makecalc.py
makeplots.py
prueba.py
